

<%= form_for(@recipe) do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :description %>
    <%= f.text_area :description, :id => "recipe_description" %>
    <%= f.submit(:class => "recipe-button btn btn-primary")%>
  </div>
<% end %>

<div id = "error_box">
  <%= render('/layouts/errors', :object => @recipe) %>
</div>



