<% content_for(:title, "Home | Recipes" ) %>

<div class = "container-fluid">
  <h1>Recipes</h1>

  <div class = "row all_list">
    <h3>All recipes</h3>
      <% @recipes.each do |recipe| %>
        <p><a href="/recipes/<%= recipe.id %>"><span class = "glyphicon glyphicon-cutlery"> </span> <%= recipe.name %></a></p>
      <% end %>
  </div>

    <div class = "row">
    <h3>Input a new recipe</h3>
    <form action="/recipes" method="post">
      <%= render("/layouts/form") %>
      <button class="btn btn-success">Submit</button>
    </form>
  </div>

  <%= render("/layouts/tag_list") %>

  <div id = "error_box" class = "row">
    <%= render('/layouts/errors', :object => @recipe) %>
  </div>
</div>
