
<div class = "container-fluid">
  <h1><%= @recipe.name %></h1>


  <div class = "row">
    <h3>Recipe Directions</h3>
    <p><%= @recipe.description %></p>
  </div>
  <div class = "row">
    <div class ="col-xs-2">
      <a href="/recipes/<%= @recipe.id %>/edit">
        <span class="glyphicon glyphicon-pencil"></span> Edit Recipe
      </a>
    </div>
    <div class ="col-xs-3">
      <a href="/recipes/<%= @recipe.id %>" rel="nofollow" data-method="delete" data-confirm="Really, please don't? ">
        <span class="glyphicon glyphicon-trash"></span> Delete Recipe
      </a>
    </div>
  </div>

  <div class ="row">
    <h3>Tags</h3>
    <ul>
      <% @recipe.tags.each do |tag| %>
        <li><%= tag.name %><a href="/recipes/<%= @recipe.id %>/tags/<%= tag.id %>"
          rel="nofollow" data-method="delete" data-confirm="Really, please don't? ">
          <span class="glyphicon glyphicon-trash"></span></a></li>
      <% end %>
    <br>
    <span class="glyphicon glyphicon-trash"></span> = Click to remove a tag
    </ul>
  </div>

  <br>
  <a href="/recipes">Recipe List</a>

</div>
