<div id = "error_box" class = "row">
  <%= render('/layouts/errors', :object => @recipe) %>
</div>

  <% form_for(@recipe) do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_field :description %>
    </div>
    <%= f.submit(:class => "btn btn-primary")%>
  <% end %>
