<!DOCTYPE html>
<html>
<head>
<title><%= yield(:title) %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">

          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Epicurean</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
            <li><a href="/recipes/">Recipes</a></li>
            <li><a href="/ingredients/">Ingredients</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <section class ='container'>
      <%= yield %>
      <% if flash[:notice] == "Created Successfully." %>
        <div class="alert alert-success" role="alert">
          <%= flash[:notice] %>
        </div>
      <% elsif flash[:notice] == "Updated Successfully." %>
        <div class="alert alert-info" role="alert">
          <%= flash[:notice] %>
        </div>
      <% elsif flash[:notice] == "Removed Successfully." %>
        <div class="alert alert-info" role="alert">
          <%= flash[:notice] %>
        </div>
      <% end %>
    </section>

    <div class = 'footer'>
      <div class='container'>
        <p> Recipes - A Ruby Rails Project by Randy Leighton and Jeremy Whitaker - September 2014</p>
      </div>
    </div>
  </body>
</html>
